<%- include('templates/header') %>
  <h1><%= data.example.mainTitle %></h1>
  <ul>
    <% data.example.users.forEach(function(user) { %>
      <li><%= user.name %> - <%= user.age %></li>
    <% }) %>
  </ul>
<%- include('templates/footer') %>
