<%- include('templates/header') %>
  <h1><%= data.example.mainTitle %></h1>
  <br />
  <ul>
    <% data.example.itens.forEach(function(item) { %>
      <li><%= item.name %> - <%= item.age %></li>
    <% }); %>
  </ul>
<%- include('templates/footer') %>
